footer {

        background-image: url('../assets/images/hachures-noires.png'), linear-gradient(0deg, $secondary, $secondary);
        background-position: top, 0px 50px;
        background-repeat: no-repeat;
        color: $primary;
        padding: 2em;

        hr {
                color : #43484c;

        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 { margin: 0;}


        p {
                font-size: 0.80rem;
        }

        h3{
                font-size: 1.8rem;
        }


        .op-cell-heading {

                font-weight: 400;
                padding: 0;
                padding-left: 10px;
                line-height: 2em;

                &::before {
                        content: url(../assets/svg/time-clock.svg);
                        position: relative;
                        top: 5px;
                        right: 10px;
                }
        }


        .op-table {
                width: 100%;
                text-align: left;
                font-size: 0.80rem;
                margin-top: 0.6rem;
        }

        .op-period-time {
                text-align: right;
        }



}

.contact_us p{

        padding-left: 50px;
}

.phone::before{
        content: url("../assets/svg/call.svg");
        position: absolute;
        left: 40px;
        margin-top: 3px;

}

.adress::before{
        content: url("../assets/svg/place.svg");
        position: absolute;
        left: 40px;
        margin-top: 3px;

}

.email::before{
        content: url("../assets/svg/mail-1.svg");
        position: absolute;
        left: 40px;
        margin-top: 2px;

}
