header {
        margin: 0;
        background-color: black;
        min-height: 10rem;

        nav {
                @include make-container-max-widths();
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-self: center;
                color: $primary;
                overflow: hidden;

                ul {
                        display: flex;
                        align-content: center;
                        padding: 0;
                        list-style: none;
                }

                li {

                        padding: 0 1rem;
                        font-weight: 600;
                }

                a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        text-decoration: none;
                        min-width: 24px;
                        min-height: 24px;
                }

                h1 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 2rem;
                }
        }
}

.primary-menu {
        display: flex;
        align-items: center;
}