.post-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(0, 450px);
    margin: 4rem auto;
    background-color: white;
}

.post-card.recipes:nth-child(odd) {
    grid-template-columns: 60% 40%;

}

.post-card.recipes:nth-child(even) {
    grid-template-columns: 40% 60%;

}


.post-card:nth-child(odd) {

    .post-image {

        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .post-content {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

.post-card:nth-child(even) {

    .post-image {

        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;


    }

    .post-content {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}


.post-image {


    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.post-content {

    padding: 2rem;

    h1 {
        text-align: center;
        font-weight: 600;
    }

    p {
        font-size: 0.9rem;
        padding: 0 3rem;
    }
}


